body{
  color: #40514E;
  margin: 0;
  text-align: center;
  /*font-family: 'Sacramento', serif;*/
  font: 15px Arial, sans-serif;
  font-size: 20px;
}
h1{
  width 10%;
  margin: 0 auto 0 auto;
  color:#66BFBF;
  font-family: 'Sacramento', serif;
}
h5{
  color:#66BFBF;
  font-family: normal;
  font-family: 'Sacramento', serif;
  font-size: 30px;
}
h4
{
  color:#66BFBF;
  font-family: normal;
  font-family: 'Sacramento', serif;
}
h3{
  color:#11999E;
  font-family: 'Sacramento', serif;
  font-size: 50px;
}
h6{
  color:black;
  text-align: center;
  font: 20px Arial, sans-serif;
}
h2
{
  color:#66BFBF;
  font: 40px Arial, sans-serif;
}
.top-bottle{
      background-color: #add8e6;
      padding-top: 60px;
      line-height: 1.8;
}

.middle-container{
  padding-bottom: 20px;

}
.bottom-container{
  padding-top: 30px;
  padding-bottom: 20px;
background-color: #66BFBF;
}
.profile{
  width:50%;
  margin: 50px auto 50px auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;


}

.tech{
  width : 25%;
  float: left;
  margin-right: 30px;
}
.material-icons{
  float: right;
  padding-top: 50px;
}
.other{
  width: 25%;
  float: right;
}
.top-cloud{
  position: absolute;
  left : 800px;
}
.bottom-cloud{
  position: absolute;
}
.intro{

}
hr{
  border: dotted #EAF9F5 6px;
  border-bottom: none;
  width: 4%;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a{
  margin: 20px 10px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px;
}
